<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>

		<title>LveAwake</title>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="fragment" content="!"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css"/>
		<link rel="stylesheet" type="text/css" href="style/jquery-ui/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="style/supersized/supersized.css"/>
		<link rel="stylesheet" type="text/css" href="style/supersized/supersized.shutter.css"/>
		<link rel="stylesheet" type="text/css" href="style/fancybox/jquery.fancybox.css"/> 
		<link rel="stylesheet" type="text/css" href="style/base.css"/> 
		
		<link rel="stylesheet" type="text/css" media="screen and (max-width:969px)" href="style/responsive/width-0-969.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (max-width:767px)" href="style/responsive/width-0-767.css"/>
		
		<link rel="stylesheet" type="text/css" media="screen and (min-width:480px) and (max-width:969px)" href="style/responsive/width-480-969.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (min-width:768px) and (max-width:969px)" href="style/responsive/width-768-969.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (min-width:480px) and (max-width:767px)" href="style/responsive/width-480-767.css"/>
		<link rel="stylesheet" type="text/css" media="screen and (max-width:479px)" href="style/responsive/width-0-479.css"/>
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Voces"/>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800" />

		<script type="text/javascript" src="script/linkify.js"></script>
		<script type="text/javascript" src="script/jquery.min.js"></script>
		<script type="text/javascript" src="script/jquery-ui.min.js"></script>
		<script type="text/javascript" src="script/jquery.easing.js"></script>
		<script type="text/javascript" src="script/jquery.blockUI.js"></script>
		<script type="text/javascript" src="script/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="script/jquery.fancybox.js"></script>
		<script type="text/javascript" src="script/jquery.supersized.min.js"></script>
		<script type="text/javascript" src="script/jquery.elastic.source.js"></script>
		<script type="text/javascript" src="script/jquery.infieldlabel.min.js"></script>
		<script type="text/javascript" src="script/jquery.carouFredSel.packed.js"></script>
		<script type="text/javascript" src="script/jquery.supersized.shutter.min.js"></script>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>    

		<script type="text/javascript" src="script/script.js"></script>
		<script type="text/javascript" src="script/main.js"></script>
		
        <script type="text/javascript" src="plugin/contact-form/contact-form.js"></script>
		<script type="text/javascript" src="plugin/newsletter-form/newsletter-form.js"></script>

	</head>
 
	<body>
		
		<div class="main main-body">
		
			<!-- Header -->
			<div class="header clear-fix">
				
				<div class="layout-50p clear-fix">
					
					<!-- Logo -->
					<div class="layout-50p-left clear-fix">
						<a href="#" class="header-logo">Live Awake</a>
					</div>
					<!-- /Logo -->
					
					<div class="layout-50p-right">
						
						<div class="header-phone">
							We are all together in this impermanent dance with life
						</div>
						
					</div>
					
				</div>
				
			</div>
			<!-- /Header -->
			
			<!-- Content -->
			<div class="content clear-fix">
				
				<ul class="no-list clear-fix section-list">
					
					
					<!-- Main -->
					<li class="text-center clear-fix">
												
						<h1 class="margin-bottom-0">Make Your Workout</h1>
						<h1>Simple With Nostalgia</h1>
						
						<p class="subtitle-paragraph margin-top-20 margin-bottom-50 clear-fix">
							Morbi non massa arcu, sed molestie arcu tellus vitae vestibulum.
							<span class="bold">Libero lacus semper massa at sollicitudin dolor magna nulla velit.</span>
						</p>
						
						<a href="#" class="button-black clear-fix">
							<span class="click-here"></span>
							Take The Tour
						</a>
						<a href="#" class="button-black">Try It For Free</a>
						
					</li>
					<!-- /Main -->
					
					
					<!-- Gallery -->
					<li class="padding-0 no-background position-relative">
						
						<div class="main overflow-hidden">
						
							<!-- Image list -->
							<ul class="no-list image-list image-list-carousel">

								<!-- Image -->
								<li>
									<h3>Monoscope</h3>
									<div>
										<a href="image/_sample/img1.jpg" class="preloader overlay-image fancybox-image" rel="gallery-1">
											<img src="image/_sample/img1.jpg" alt="" />
											<span></span>
										</a>
										<p>Phasellus urna nulla</p>
									</div>
								</li>
								<!-- /Image -->

								<!-- Image -->
								<li>
									<h3>Praesent</h3>
									<div>
										<a href="image/_sample/img3.jpg" class="preloader overlay-image fancybox-image" rel="gallery-1">
											<img src="image/_sample/img3.jpg" alt="" />
											<span></span>
										</a>
										<p>Sed in nisl tellus</p>
									</div>
								</li>
								<!-- /Image -->

								<!-- Image -->
								<li>
									<h3>Suspendisse</h3>
									<div>
										<a href="image/_sample/img4.jpg" class="preloader overlay-image fancybox-image" rel="gallery-1">
											<img src="image/_sample/img4.jpg" alt="" />
											<span></span>
										</a>
										<p>Praesent in augue</p>
									</div>
								</li>
								<!-- /Image -->

								<!-- Image -->
								<li>
									<h3>Curabitur</h3>
									<div>
										<a href="image/_sample/img6.jpg" class="preloader overlay-image fancybox-image" rel="gallery-1">
											<img src="image/_sample/img6.jpg" alt="" />
											<span></span>
										</a>
										<p>Nam nisi mauris</p>
									</div>
								</li>
								<!-- /Image -->

								<!-- Video -->
								<li>
									<h3>Aenean</h3>
									<div>
										<a href="http://www.youtube.com/embed/Zln9I9IttLA" class="preloader overlay-video fancybox-video-youtube">
											<img src="image/_sample/img7.jpg" alt="" />
											<span></span>
										</a>
										<p>Quam vitae pretium</p>
									</div>
								</li>
								<!-- /Video -->

								<!-- Video -->
								<li>
									<h3>Scelerisque</h3>
									<div>
										<a href="http://www.youtube.com/embed/6v2L2UGZJAM" class="preloader overlay-video fancybox-video-youtube">
											<img src="image/_sample/img8.jpg" alt="" />
											<span></span>
										</a>
										<p>Quam vitae blandit</p>
									</div>
								</li>
								<!-- /Video -->

								<!-- Video -->
								<li>
									<h3>Elementum</h3>
									<div>
										<a href="http://player.vimeo.com/video/1084537" class="preloader overlay-video fancybox-video-vimeo">
											<img src="image/_sample/img10.jpg" alt="" />
											<span></span>
										</a>
										<p>Fusce nisl sem</p>
									</div>
								</li>
								<!-- /Video -->

							</ul>
							<!-- /Image list -->

							<!-- Navigation -->
							<a href="#" class="image-list-carousel-navigation-prev"></a>
							<a href="#" class="image-list-carousel-navigation-next"></a>
							<!-- /Navigation -->
						
						</div>
						
					</li>
					<!-- /Gallery -->
					
					
					<!-- Features -->
					<li>
						
						<h2>Features</h2>
						
						<p class="subtitle-paragraph">
							Phasellus sagittis consectetur purus quis accumsan.
							<span class="bold">Nullam et luctus purus praesent sollicitudin massa sed adipiscing bibendum.</span>
						</p>
						
						<div class="layout-50 clear-fix">
							
							<!-- Left column -->
							<div class="layout-50-left clear-fix">
								
								<!-- Features list -->
								<ul class="no-list list-2 clear-fix">

									<!-- Item -->
									<li>
										<h3>Vestibulum act</h3>
										<p class="icon-1 icon-1-1">
											Donec eget ultricies sapi. Sed porttitor, mauris ater lob facilisis, elit sapie eleifend ligula, et facilisis dolor odom vitae nunc. Phasellus ultricies eliteg.
										</p>
									</li>
									<!-- /Item -->
									
									<!-- Item -->
									<li>
										<h3>Iaculis gravida</h3>
										<p class="icon-1 icon-1-2">
											Praesent cursus lectus nec turpis luctus molest hendre. Suspendisse ligula orci, hendrerit vitae mattis non nibh dignissim at. Curabitur feugiat, leo quiset.	
										</p>
									</li>
									<!-- /Item -->
									
									<!-- Item -->
									<li>
										<h3>Nam ut elit ante</h3>
										<p class="icon-1 icon-1-3">
											Vestibulum varius lectus massa, eget sodales era augu. Nullam in  magnat, at ultricies lectus. Pellentesque mado consequat lobortis. Maecenas dictu.
										</p>
									</li>
									<!-- /Item -->
									
									<!-- Item -->
									<li>
										<h3>Suspendisse pot</h3>
										<p class="icon-1 icon-1-4">
											Aliquam egestas congue pulvinar. Integer ultricies luctus nisi eu facilisise. A lacus nisi, condimentum ut facilisisuer porttitor non nibh. Sed in nunc a er.
										</p>
									</li>
									<!-- /Item -->

								</ul>
								<!-- /Features list -->
								
							</div>
							<!-- /Left column -->
							
							<!-- Right column -->
							<div class="layout-50-right">
								
								<!-- Accordion -->
								<div class="nostalgia-accordion clear-fix">

									<h3><a href="#">How does it work</a></h3>
									<div>
										
										<div>
										
											<ul class="no-list list-1 clear-fix">

												<li>
													<span>1</span>
													<h5>Curabitur risus mi accumsan vitae</h5>
													<p>Vestibulum ante ipsum primis in faucibus orci luctus etel ultrices posuere cubilia Curae. Nam ligula ante commod.</p>
												</li>
												<li>
													<span>2</span>
													<h5>Sed id dignissim lorem consequat</h5>
													<p>Nunc eu lacus massa, et accumsan erat. Phasellus auct malesuada odio, eu aliquet mi rhoncus quis. Nullam risu.</p>
												</li>
												<li>
													<span>3</span>
													<h5>Nam at imperdiet quam aenean </h5>
													<p>Proin viverra, felis eget feugiat dignissim, ante ante odio pulvinar, sed blandit diam lectus a risus. Lorem ipsum si.</p>
												</li>
												<li>
													<span>4</span>
													<h5>Aliquam malesuada arcu eu tortor</h5>
													<p>Mauris congue, tortor non consequat laoreet, ipsum ma facilisis tellus, ut vulputate sem odio dictum libero arcu.</p>
												</li>

											</ul>
											
										</div>
										
									</div>
									
									<h3><a href="#">App version</a></h3>
									<div>
										
										<div>
										
											<ul class="no-list list-1 clear-fix">

												<li>
													<span class="icon-apple"></span>
													<h5>Apple OS4</h5>
													<p>Aliquam malesuada arcu eu tortor consequat rhoncuse. Maecenas faucibus sagittis turpis. Praesent scelerisque.</p>
												</li>
												<li>
													<span class="icon-apple"></span>
													<h5>Apple OS5</h5>
													<p>Proin pretium, lectus sit amet lacinia convallis, elit nunc vehicula eros, quis faucibus risus elit non justo. Donec.</p>
												</li>
												<li>
													<span class="icon-android"></span>
													<h5>Android 2.3.5</h5>
													<p>Aenean eu orci arcu, sed cursus orci. Cum sociis natoq penatibus et magnis dis parturient montes, nascetur mu.</p>
												</li>
												<li>
													<span class="icon-android"></span>
													<h5>Android 4.0.5</h5>
													<p>Cras tristique, nisl a placerat dignissim, nibh quam conv metus, sed placerat velit felis quis lacus. In hac dictumst.</p>
												</li>

											</ul>
											
										</div>
										
									</div>
									
									<h3><a href="#">Youtube preview</a></h3>
									<div>
										
										<div>
										
											<a href="http://www.youtube.com/embed/r-aer2QFybc" class="preloader overlay-video fancybox-video-youtube video-preview">
												<img src="image/_sample/img3.jpg" alt="" />
												<span></span>
											</a>
											
										</div>
										
									</div>
									
									<h3><a href="#">Vimeo preview</a></h3>
									<div>
										
										<div>
										
											<a href="http://player.vimeo.com/video/10470386" class="preloader overlay-video fancybox-video-vimeo video-preview">
												<img src="image/_sample/img1.jpg" alt="" />
												<span></span>
											</a>	
											
										</div>
										
									</div>
									
								</div>
								<!-- /Accordion -->
									
							</div>
							<!-- /Right column -->
							
						</div>
						
					</li>
					<!-- /Features -->
					
					
					<!-- Testimonials -->
					<li>
						
						<h2>Testimonials</h2>
						
						<p class="subtitle-paragraph">
							Quisque sodales metus et mauris imperdiet non volutpat.
							<span class="bold">Nulla turpis velit, imperdiet vel viverra ut, tristique sit amet felis.</span>
						</p>
						
						<ul class="no-list clear-fix testimonial-list layout-50">
							
							<!-- Item -->
							<li class="layout-50-left">
								<p>Curabitur vehicula mi in quam molestie a eleifend magna phare. Mauris mattis faucibus porttitor mauris molestie orci neque.</p>
								<div>
									<span class="bold testimonial-list-arrow">Superb!</span>
									<span class="testimonial-list-author">
										<span class="bold">John Doe</span>, Founder World Company
									</span>
								</div>
							</li>
							<!-- /Item -->
							
							<!-- Item -->
							<li class="layout-50-right">
								<p>Vivamus posuere dapibus elit, id rutrum mauris scelerisque et. Curabitur augue erat, laoreet ut pharetra vel, convallis quis lor.</p>
								<div>
									<span class="bold testimonial-list-arrow">Superb!</span>
									<span class="testimonial-list-author">
										<span class="bold">Anna Brown</span>, Big Company
									</span>
								</div>
							</li>
							<!-- /Item -->
							
							<!-- Item -->
							<li class="layout-50-left">
								<p>Ut luctus tortor nulla, sed commodo lorem. Donec lacus eros, lobortis ac faucibus et, cursus sed tortor. Nunc at lacus id diam.</p>
								<div>
									<span class="bold testimonial-list-arrow">Superb!</span>
									<span class="testimonial-list-author">
										<span class="bold">Mark Green</span>, Smooth Communications
									</span>
								</div>
							</li>
							<!-- /Item -->
							
							<!-- Item -->
							<li class="layout-50-right">
								<p>Suspendisse egestas dui non lorem interdum cursus. Ut justo condimentum ligula sed eros consectetur rhoncus sed nec eros.</p>
								<div>
									<span class="bold testimonial-list-arrow">Superb!</span>
									<span class="testimonial-list-author">
										<span class="bold">Ursula White</span>, Suites &amp; Communication Ltd.
									</span>
								</div>
							</li>
							<!-- /Item -->
							
						</ul>
						
					</li>
					<!-- /Testimonials -->

					
					<!-- Contact -->
					<li>
						
						<h2>Contact Us</h2>
						
						<p class="subtitle-paragraph">
							Mauris a neque pulvinar orci tempor rutrum at vitae massa.
							<span class="bold">Integer accumsan erat aliquam mauris placerat ullamcorper donec sed dui.</span>
						</p>
						
						<div class="clear-fix layout-50">
							
							<!-- Left column -->
							<div class="layout-50-left">
								
								<h3>On The Map</h3>
								
								<div class="contact-details-wrapper">
									
									<!-- Google Maps -->
									<div id="map"></div>
									<!-- /Google Maps -->
								
									<!-- Contact details -->
									<div class="contact-details">

										<!-- Contact details button -->
										<a href="#" id="contact-details-button"></a>
										<!-- /Contact details button -->
										
										<div class="clear-fix layout-50p">

											<div class="layout-50p-left">

												Nostalgia<br/>
												Quai Henri IV<br/>
												75004 Paris, France

											</div>

											<div class="layout-50p-right">

												<ul class="no-list">
													<li class="icon-2 icon-2-1">T: 877 123 0223</li>
													<li class="icon-2 icon-2-2">F: 877 123 0224</li>				
													<li class="icon-2 icon-2-3">E: nostalgia@mail.com</li>			
												</ul>

											</div>

										</div>

									</div>
									<!-- /Contact details -->
								
								</div>
								
							</div>
							<!-- /Left column -->
							
							<!-- Right column -->
							<div class="layout-50-right">
	
								<h3>General Inquiry</h3>
								
								<!-- Contact form -->
								<form name="contact-form" id="contact-form" action="" method="post" class="clear-fix">

									<div class="clear-fix">

										<ul class="no-list form-line">

											<li class="clear-fix block">
												<label for="contact-form-name">Your name</label>
												<input type="text" name="contact-form-name" id="contact-form-name" value=""/>
											</li>
											<li class="clear-fix block">
												<label for="contact-form-mail">Your e-mail</label>
												<input type="text" name="contact-form-mail" id="contact-form-mail" value=""/>
											</li>
											<li class="clear-fix block">
												<label for="contact-form-message">Your message</label>
												<textarea name="contact-form-message" id="contact-form-message" rows="1" cols="1"></textarea>	
											</li>
											<li class="clear-fix block">
												<input type="submit" id="contact-form-send" name="contact-form-send" class="button" value="Send"/>
											</li>
											
										</ul>
											
									</div>

								</form>
								<!-- /Contact form -->

							</div>
							<!-- /Right column -->
							
						</div>
						
					</li>
					<!-- Contact -->
					
				</ul>
				
			</div>
			<!-- /Content -->
			
			
			<!-- Footer -->
			<div class="footer layout-50 clear-fix">
					
				<!-- Left column -->
				<div class="layout-50-left">
					
					<h3>Network With Us</h3>
					
					<!-- Latest tweets -->
					<div id="latest-tweets"></div>
					<!-- /Latest tweets -->
					
					<!-- Social icons list -->
					<ul class="no-list social-list clear-fix">
						<li><a href="#" class="social-list-twitter"></a></li>
						<li><a href="#" class="social-list-facebook"></a></li>
						<li><a href="#" class="social-list-googleplus"></a></li>
					</ul>
					<!-- /Social icons list -->

				</div>
				<!-- /Left column -->

				<!-- Right column -->
				<div class="layout-50-right">
					
					<h3>Join Our Mailing List</h3>	
					
					<p>
						Get the latest news and updates with the Nostalgia newsletter.<br/>
						Join our monthly email newsletter. It's fast and easy.
					</p>
					
					<!-- Newsletter form -->
					<form name="newsletter-form" id="newsletter-form" action="" method="post" class="clear-fix">
						
						<div class="clear-fix">

							<ul class="no-list form-line">

								<li class="clear-fix block">
									<label for="newsletter-form-mail">Your e-mail</label>
									<input type="text" name="newsletter-form-mail" id="newsletter-form-mail" value=""/>
									<input type="submit" id="newsletter-form-send" name="newsletter-form-send" class="button" value="Send"/>
								</li>
								
							</ul>
							
						</div>
						
					</form>
					<!-- /Newsletter form -->

				</div>
				<!-- /Right column -->
				
			</div>
			<!-- /Footer -->

		</div>
			
		<!-- Background overlay -->
		<div id="background-overlay"></div>
		<!-- /Background overlay -->
		
	</body>

</html>
