Welcome the the LVE Awake community! 
<br><br>
Starting in the Spring we will be hosting flash dance parties all around San Francisco. These will be invite only because we want to keep it intimate and awesome. 
<br><br>
Please fill out this short survey to help us get to know your more <a href="http://svy.mk/ZbZ3CV">http://svy.mk/ZbZ3CV</a>. 
<br><br>
Expect more emails from us about how to get invites and how our parties work. 
<br><br>
Looking forward to raging with you! 
<br><br>
Love,<br>
The LVE Awake Team