<%= content_tag :p, flash[:sucess], :class => "flash notice" if flash[:success] %>
<%= content_tag :p, flash[:notice], :class => "flash notice" if flash[:notice] %>
<%= content_tag :p, flash[:alert], :class => "flash alert" if flash[:alert] %>

<%= yield %>
<ul id="supersized" class="quality" style="visibility: visible;"><li class="slide-0 activeslide"><a target="_blank"><img src="/sunrise.jpeg" style="height: 731px; width: 1305.3571428571427px; left: -340.5px; top: 0px;"></a></li></ul>
